
.flashcard-layout {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -100px;
}

.flashcard {
    cursor: pointer;
    transition: transform 0.5s;
    width: 500px;
    max-height: 400px;
    margin: 100px 50px;
    padding: 100px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flashcard:hover {
    transform: scale(1.05);
}

.flashcard span {
    font-size: 24px;
    color: #333;
}